.heading{
   mix-blend-mode: color-burn;
    text-align: center;
    margin-top: 18%;
}
button{
    border-radius: 50px;
    background-color: transparent;
    color: black;
    margin-right:10px;
    padding: 20px 40px;
    margin-left: 88%;
    margin-top: 13%;
}
body{
    background-size:cover;
}
.ui{
    margin-right: 4%;
}