body{
    background-color: rgb(129, 100, 129);
    background-size: cover;
}
.outline{
    border: 2px solid black;
    width: 70%;
    height: 650px;
    background-color: rgb(61, 21, 73);
    margin-left: 15%;
    margin-top: 3%;
    border-radius: 10px;
}
.image{
    border-radius: 10px;
    height: 630px;
    width: 30%;
    margin-left: 1%;
    margin-top: 0.80%;
    position: absolute;
}
.para{
   position: absolute;
    margin-left: 8%;
   margin-top: 33%;
}
.para2{
    position: absolute;
    margin-left: 9%;
   margin-top: 35.80%; 
}
.maindiv{
    border: 1px solid rgb(173, 169, 173);
    width: 30%;
    height: 500px;
   backdrop-filter: blur(8px);
  border-radius: 20px;
  margin-left: 33%;
  margin-top: 8%;
}
.login{
    color: white;
    font-family: sans-serif;
    margin-left: 38%;
    font-size: 200%;
}