body{
    background-size:cover;
    position:fixed;
}
.quote{
    color:orange;
   margin-top: 23%;
   margin-left: 9%;
  

}
.anc{
    color: orange;
    margin-left: 5%;
    font-size: 200%;
   
}
button{
    border-radius: 50px;
    background: transparent;
    color: orange;
    height: 40px;
    width: 100px;
}