body{
background-size: cover;
}
img{
    mix-blend-mode: color-burn;
    width: 300px;
}
button{
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 50px;
    color: black;
    margin-top: 6%;
    margin-right: 1%;
    margin-left: 2%;

}