
body{
    background-color: black;
    
}
.fire{
   margin-top: 30px;
    width: 100%;
    height:-40px;
    position: relative;
}

.burger{
    position: absolute;
    float: right;
    margin-left: 50%;
    z-index: 1;
    height: 760px;
    width: 700px;
}
.t{
   font-size: 700%;
    color: rgb(255, 255, 255);
    position:absolute;
    z-index: 1;
    margin-bottom: 30%;
}
.ul{
    color: rgb(255, 0, 0);
    position: absolute;
    margin-top: 30%;
    font-size: 260%;
}
.ol{
    color: rgb(255, 0, 0);
    position: absolute;
      margin-top: 30%;
      margin-left: 35%;
      z-index: 1;
     font-size: 260%;
      
}
ul{
    height: 20%;
}