*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.whole-container{
border-radius: 20px;
background-color: rgb(0, 0, 0);
height: 40rem;
width: 27rem;
}
.infr{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 64, 68);
    border:none;
    border-radius: 20px;
    margin-top: 6rem;
   margin-left: 0.50rem;
    height:25rem;
    width: 26rem;
    position: absolute;
}
.heading{
    gap: 1rem;
    padding-left: 9rem;
    color: rgb(79, 79, 79);
}
.input{
    width: 25rem;
    border-radius: 20px;
    border: none;
    background-color: gray;
    height: 3rem;
    margin-left: 1rem;
   margin-top: 1.3rem;
}
.input::placeholder{
    text-align: center;
    color: white;
}
