     body{
            display:flex;
            background-color:white;
        }
        .image{
            
            position:absolute;
            bottom:0;
            right:0;
            
        }
        .image img{
             height:100px;
              width:100px;
        }